/* 
   ブラウザごとのデフォルトCSSをリセットするためのCSS
   作成者: Eric Meyer
   バージョン: 2.0 (2011/01/26)
   ライセンス: パブリックドメイン
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	/* 外側の余白を削除 */
	margin: 0;

	/* 内側の余白を削除 */
	padding: 0;

	/* 枠線を削除 */
	border: 0;

	/* 文字サイズを標準化 */
	font-size: 100%;

	/* フォント設定を親要素から継承 */
	font: inherit;

	/* 縦位置を揃える */
	vertical-align: baseline;
}

/* 
   古いブラウザでHTML5要素を
   block要素として表示する
*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {

	display: block;
}

/* 行の高さを標準化 */
body {
	line-height: 1;
}

/* リストの点や番号を削除 */
ol, ul {
	list-style: none;
}

/* 引用符を削除 */
blockquote, q {
	quotes: none;
}

/* 引用符の疑似要素を削除 */
blockquote:before, blockquote:after,
q:before, q:after {

	content: '';
	content: none;
}

/* テーブルの枠線間隔を削除 */
table {

	border-collapse: collapse;
	border-spacing: 0;
}