@charset "utf-8";
@import "./style2.css";/*他のcssファイルをインポートして読み込むことができる*/


.test1{
    margin-bottom: 20px;/*20ピクセル下の間隔を開ける*/
    margin-left: 20px;/*20ピクセル左の間隔を開ける*/
    margin-right: 20px;/*20ピクセル右の間隔を開ける*/
    margin-top: 20px;/*20ピクセル上の間隔を開ける*/
    line-height: 2;/*行間を変える*/
}

.test2{
    margin: 20px 20px 20px 20px;/*上、右、下、左*/
    line-height: 2;/*行間を変える*/
}

h1{
    color: khaki;
    background-color: rgba(218, 20, 20, 0.356);
    font-weight: bold;/*文字をふと文字にする。*/
    font-size: 40px;/*文字の大きさを45ピクセルにする。*/
    text-indent: 1em;/*テキストの冒頭にインデントを付ける。1emの場合は全角一文字分*/
}/*h1タグで表示させた文字の色や太さを変える*/

.square1{
    width: 100px;/*横幅設定、pxを%に変えるとウィンドウサイズに対して何%の大きさにするか決めれる*/
    height: 100px;/*縦幅設定*/
    background-color: black;
}

.square2{
    width: calc(100% - 50px);/*calc関数は値が違うもの同士で演算ができる。*/
    height: 100px;
    background-color: rgb(255, 0, 212);
}

.image1{
    width: 570px;
    height: 818px;
    background-image: url(../image/danmachi.png);
    font-weight: bold;
    font-size: 80px;
    text-indent: 1em;
    line-height: 1.8;

}

.image2{
    width: 570px;
    height: 818px;
    background-image: url(../image/danmachi.png);
    font-weight: bold;
    font-size: 80px;
    text-indent: 1em;
    line-height: 1.8;
    transform: translate(100px, 30px) rotate(180deg) skew(20deg);/*translate関数は要素を移動、rotate関数は要素を回転、skew関数は要素を歪める*/
}

.melon:hover{
    color: red;
}

.parent p{
    color: red;/*親セレクタの中にあるpタグ(子孫セレクタ)の色を変える*/
}

.parent > p{
    color: green;/*親セレクタの直下にあるpタグ(子セレクタ)の色を変える*/
}

.abc,.def{
    color: fuchsia;
}/*abcとdefというクラスの色を変える*/
.def.xyz{
    background-color: aqua;
}/*defとxyzの両方のクラスが揃った時に背景の色を変える*/

p.def{
    background-color: blueviolet;
}/*pタグのdefクラスのときに背景の色を変える*/

.def + a{
    font-size: 30px
}/*defクラスの次のコードがaタグの場合フォントサイズを変える*/

.order{
    color: red !important;
}
.order{
    color: aqua;
}/*!importantが最優先されるためorderクラスの色は赤になる*/

/*パソコン用*/
div.sample{
    background-color: black;
}
/*スマホ用*/
@media screen and (max-width: 690px)
 {
    div.sample{
        background-color: blueviolet;
    }
}/*横幅が768pxまで背景を変える*/

/*tablet用*/
@media screen and (max-width: 768px) and (min-width: 690px)
 {
    div.sample{
        background-color: rgb(28, 18, 172);
    }
}/*横幅が690px以上768pxまで背景を変える*/

.box{
    text-align: center;
    padding: 20px;/*要素の内側に間隔を開けるプロパティ*/
    border: 2px solid red;/*paddingとmarginの間の間隔を開けるプロパティ*/
    margin: 20px;/*要素の外側に間隔を開けるプロパティ*/
}

.block{
    text-align: center;
    padding: 20px;
    border: 2px solid red;
    margin: 20px;/*ブロック要素は上下左右にmarginプロパティを当てることができる*/
    display: inline;/*ブロック要素がインライン要素と同じ振る舞いをする*/
}/*ブロック要素は要素を横並びにすることができない*/

.in-line{
    text-align: center;
    padding: 20px;
    border: 2px solid red;
    margin: 20px;/*インライン要素は左右にmarginプロパティを当てることができる*/
    display: block;/*インライン要素がブロック要素と同じ振る舞いをする*/
}/*インライン要素は横並びになる*/